
:host {
    text-align: center;
    width: 350px;
    // display: grid;
    // grid-template-rows: auto auto ;
    // grid-template-columns: 4fr 1fr ;
    & .modal-footer{
        margin: 4px;
        margin-top: 6px;
        padding: 0px;
        // grid-row: 2;
        // grid-column: 2/2;
         
    }
    & .body{
        grid-row: 1;
        grid-column: 1/4;
        >div{
            .name{
                font-size: 15px;
                color:teal
            }
        }
        
    }
    
    & .btn-row{
        display: flex;
        justify-content: flex-end;
       
        & .buttonUpdata{
            margin: 4px;
            margin-top: 6px;
            padding: 0px;
            color: white!important;
            width: 25%;
            background-color: #616161;
            border-radius: 0px;
            // position: relative;
            color: #FFFFFF;
          
            text-align: center;
            -webkit-transition-duration: 0.4s; 
            transition-duration: 0.4s;
            text-decoration: none;
            overflow: hidden;
            cursor: pointer;
           
        &:hover {
           
            box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
               
         } 
      
    }
    }
}