.data{
    font-family: Roboto,"Helvetica Neue",sans-serif;
    text-decoration: none;
    //line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 37px;
    letter-spacing: 1px;
    color: #555555;
    display: block;
    position: relative;
    margin-top: 10px;
    margin-left: 14px;
}